doctype html
html(lang='pt-BR')
	head
		block HEAD
			meta(charset='UTF-8')
			meta(name='viewport' content='width=device-width, initial-scale=1.0')
			meta(name='theme-color' content='#FFFFFF')
			title
				block TITLE
					.
						JUAN - E.Civil
			block HEAD_FAVICON
				link(rel='icon' type='image/png' href='/favicon.png')
			link(rel='stylesheet' href='/rsc/css/common.css')
			script(type='module' src='/rsc/js/common.js')
	body.twhite
		header
			div.head-social
				a.social(style='background-image:url("/rsc/img/icon_insta.svg")' href="https://www.instagram.com/")
				a.social(style='background-image:url("/rsc/img/icon_x.svg")' href="https://x.com/")
				a.social(style='background-image:url("/rsc/img/icon_in.svg")' href="https://br.linkedin.com/")
				a.social(style='background-image:url("/rsc/img/icon_whats.svg")' href="https://www.whatsapp.com/")
			div.head-menu
				a.link ínicio
				a.link sobre
				a.link serviços
				a.link portfólio
				a.link contato
			div.hmb(tabindex='0' style='display:none')
				div.hmb-ball
				div.hmb-bar
		main
			block BODY