extends /includes/layout.pug
block append HEAD
	link(rel='stylesheet' href='/rsc/css/main.css')
	script(type='module' src='/rsc/js/main.js')
block BODY
	div.section-view#view1
		div.painel(style='background-image: url("/rsc/img/0.webp");left:0;width:50%;')
		div.painel(style='background-image: url("/rsc/img/1.webp");right:0;width:50%;')
	div.section-view#view2
		div.painel(style='background-image: url("/rsc/img/2.webp");left:0;width:100%;backdrop-filter:blur(5px);opacity:0;display:none')
	div.painel(style='left:0')
		h1(style='text-align:center;margin:3em 0') Volte mais tarde, site em desenvolvimento.
	div#main-juan

	div.section-view

	